<div class="position-fixed top-0 start-0 w-100 text-white d-flex justify-content-between align-items-center zindex-dropdown bg-black header px-4">
    <div>
        <i class="bi bi-filter icon-size"></i>
    </div>
    <div class="fs-4">Index</div>
    <div>O</div>
</div>