@inherits LayoutComponentBase
<!-- Header -->
<AuthorizeView>
    <Authorized>
        <HeaderLayout/>
    </Authorized>
</AuthorizeView>
<!-- Content -->
<div class="content px-2">
    @Body
</div>
<!-- Footer -->
<AuthorizeView>
    <Authorized>
        <FooterLayout/>
    </Authorized>
</AuthorizeView>