html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*My Code Start from here*/
:root {
    --primary: #8687E7;
    --dark: #121212;
    --white: #FFFFFF;
    --light-white: #979797;
}
body {
    background-color: var(--dark);
    color: var(--white);
    height: 100vh;
    overflow: hidden;
}
.fs-0{
    font-size:40px;
}

.fs-7{
    font-size:12px;
}
.fs-8 {
    font-size: 10px;
}
.py-2-5{
    padding:.8rem 0;
}
.header {
    height: 60px;
    z-index:1000;
}
.content {
    padding-top: 60px;
    padding-bottom: 80px;
    /*    margin-bottom:80px;*/
    /*    height: calc(100vh - 140px);*/
    overflow-y: auto;
    height: calc(100vh);
    z-index: 0;
}
.footer {
    background-color: #363636;
    height: 80px;
    z-index: 1000;
}

.icon-size {
    font-size: 2rem;
    color: var(--white);
}

.icon-size-1 {
    font-size: 4rem;
    color: var(--primary);
}
/* Apply the rotation animation */
@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.rotate {
    animation: rotate-animation .5s ease-in-out;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    backdrop-filter: blur(8px); /* Blur effect */
    z-index: 1050; /* Ensure it appears above other elements */
}
.Loading-spinner {
    width: 1.5rem;
    height: 1.5rem;
}
/* Spinner 1 */
.spinner1 {
    animation-delay: 0s;
}

/* Spinner 2 */
.spinner2 {
    animation-delay: .1s;
}

/* Spinner 3 */
.spinner3 {
    animation-delay: .2s;
}
