html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*My Code Start from here*/
:root {
    --primary: #8687E7;
    --dark: #121212;
    --white: #FFFFFF;
    --light-white: #979797;
}
body {
    background-color: var(--dark);
    color: var(--white);
    height: 100vh;
    overflow: hidden;
}
.fs-0{
    font-size:40px;
}

.fs-7{
    font-size:12px;
}
.fs-8 {
    font-size: 10px;
}
.py-2-5{
    padding:.8rem 0;
}
.header {
    height: 60px;
    z-index:1000;
}
.content {
    padding-top: 60px;
    padding-bottom: 80px;
    /*    margin-bottom:80px;*/
    /*    height: calc(100vh - 140px);*/
    overflow-y: auto;
    height: calc(100vh);
    z-index: 0;
}
.footer {
    background-color: #363636;
    height: 80px;
    z-index: 1000;
}

.icon-size {
    font-size: 2rem;
    color: var(--white);
}

.icon-size-1 {
    font-size: 4rem;
    color: var(--primary);
}
/* Apply the rotation animation */
@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.rotate {
    animation: rotate-animation .5s ease-in-out;
}