<div class="d-flex flex-column justify-content-center align-items-center">
    <div>
        <TodoIcon />
    </div>
    <div class="text-center">
        <p>What do you want to do today?</p>
        <p>Tap + to add your tasks</p>
    </div>
</div>